.black{
    color: black;
}
.black-bg{
    background-color: black;
}
.success{
    color: var(--success);
}
.success-bg{
    background-color: var(--success);
}
.danger{
    color: var(--danger);
}
.danger-bg{
    background-color: var(--danger);
}